-# = form_for @person do |f|
-#   = label_tag(:status, "What is your status?")
-#   = text_box(:status, :status)
-#   = label_tag(:location, "where are you?")
-#   = text_box(:location, :location)
-#   = label_tag(:picture, "Do you have a profile image you would like to use?")
-#   = text_box(:picture, :picture)
-#   = label_tag(:monday, "Monday")
-#   = check_box(:monday, :available)
-#   = label_tag(:tuesday, "Tuesday")
-#   = check_box(:Tuesday, :available)
-#   = label_tag(:wednesday, "Wednesday")
-#   = check_box(:wednesday, :available)
-#   = label_tag(:thursday, "Thursday")
-#   = check_box(:thursday, :available)
-#   = label_tag(:friday, "Friday")
-#   = check_box(:friday, :available)
-#   = label_tag(:saturday, "Saturday")
-#   = check_box(:saturday, :available)
-#   = label_tag(:sunday, "Sunday")
-#   = check_box(:sunday, :available)
-#   %br
-#   = label_tag(:available, "Write your Availablity. Use the following format:  00:00 - 23:59, with line returns between time periods")
-#   %br
-#   = text_area(:available, :time_available)
-#   = submit_tag("Create", method: "POST", action: profiles_path)
