.description
  %h3
    Text on Time Service
  %p
    [Enter a description here]
.groups
  button_tag(name = "Create Group", action: groups_path, method: get)
  .display_current_groups
    [pull information from groups in controller to display here]
.my_profile
  =button_to 'My Profile', profile_path(@person.id), { :method => :get }
  %br
  = link_to 'Create Group', new_group_path, method: 'GET'
  %br
  = link_to 'Sign Out', destroy_user_session_path, method: 'DELETE'
  %br
  = link_to 'Show Groups', home_path(@user_id), method: 'GET'
