.show_g
  %h1 Group list
  %p Please select a group to see more information about it and its users
- @user_group_ids.each do |i|
  - id = i[:group_id]
  - j = Group.find(id)
  - name = j[:name]
  = link_to "#{name}", group_path(id), method: 'GET'
  %br
= link_to 'Home', root_path, method: 'GET'
